# Archivos R/RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history

# Outputs generados
*.html
#*.pdf
*.docx
*.xlsx

# Sistema
.DS_Store
Thumbs.db

# Datos grandes (>50MB)
*.rds
*.feather

# Carpetas específicas para ignorar
A-documentos-papers/
playground/
co-sponsorship-analysis/iniciativas_normas
B-old scripts/
B-rcp_convencion/votos_convencion